body {
    padding: 0;
    margin:0;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   background: white!important;
   -webkit-font-smoothing: antialiased;

}
.main-container{
margin:2%;

}
.main-container span{
    font-size: 17px;
    font-family: Quicksand;
    font-weight: 700;
    font-style: normal;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
}
.allCards{
    font: 400 1.2rem / 1.33 Roboto, Helvetica, Arial, sans-serif !important;
    color: #333;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
    padding-top: 15px;
}
.banktype img{
    width: 3%;
    height:3%;
    border-radius: 10%;
    margin-left:0.2%;
    float: left;
}

.discover img{
    padding: 0;
    border: 1px solid orange;
}
.rupay img{
    border: 0.2px solid rgb(212, 208, 208);
}
.visa img{
    border: 0.2px solid rgb(212, 208, 208);
    padding:0.5%;
}
.dinner img{
    border: 0.2px solid rgb(212, 208, 208);
    padding:0.2%;
}

/* -------------------form container-------- */

.form-data{
    display:inline-flex;
    width: 100%;

}
.card-number[type=text]:focus{
    outline: 0.5px solid rgb(65, 133, 236);  
    box-shadow: 1px 1px 1px 0px  rgb(118, 170, 248); ;   
  }
  .card-number[inputmode=numeric]:focus{
    outline: 0.5px solid rgb(65, 133, 236);  
    box-shadow: 1px 1px 1px 0px  rgb(118, 170, 248); ;   
  }
  .card[type=text]:focus{
    outline: 0.5px solid rgb(136, 136, 136);  
    box-shadow: 0px 0px 0px 0px  rgb(132, 132, 133); ;   
  }
  .card[type=password]:focus{
    outline: 0.5px solid rgb(136, 136, 136);  
    box-shadow: 0px 0px 0px 0px  rgb(132, 132, 133); ;   
  }

.card-form{
margin-right:5%
}
.checkbox{
    display: flex;
}
.flex-group{
    position: relative;
    margin-right: 5%;
}
.flex-group h3{
    font-size:14px;
    color:#333;
    padding-left: 5px;
    font-weight: 700;
    font-style: normal;
}
.info{
    font-size: 12px;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    display: inline-block;
    color: #265a9d;
}
.flex-group input{
    font-size: 14px;
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc; 
    border-radius: 2px;
    height: 24px;
    width: 100%;
  
}
.checkbox div{
    margin: 0;
    padding: 0;
}
.one {
    margin-right: 1.2%;
}
.expiry input{
    width: 50%;
    margin-left: 2%;
    font-size: 14px;
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc; 
    border-radius: 2px;
  
}
.checkbox input{
    margin-top: 85%;

}
.checkbox p{
    color: rgb(142, 147, 171);
}
.pay{
    padding: 10px 30px;
    background: rgb(55, 167, 182);
    color:white;
    border: none;
    cursor: pointer;
    margin-left:10%;
    margin-top:2%;
    border-radius: 100px 100px;
    
}
/* popup */
.close{
    float:right;
    cursor: pointer;
}
button{
    padding: 10px 30px;
    background: rgb(55, 167, 182);
    color:white;
    border: none;
    cursor: pointer;
    margin-left:10%;
    margin-top:2%;
    border-radius: 100px 100px;
}