.details_flight{
    display: flex;
    flex-direction: column;
   
   background: white;

}

.particular_flight{
    display: flex;
    justify-content: space-between;
    border:1px solid red;
    height: 125px;
    margin-top: 10px;
}

.particular_flight >div{
 margin: 10px;

}

.curr_flight >div>img{

    width: 15px;
}

.particular_flight>button{
    background-color: rgb(255, 109, 56);
    border: none;
    width: 100px;
    height: 30px;
    justify-content: center;
    margin: 20px;
}

.body{
    display: flex;
    margin: 0% 6%;
    text-align: left;
   
}

.body>div:nth-child(1)
{
    width: 25%;
    border: 1px solid black;
    margin: 0px 10px;

}
.body>div:nth-child(2)
{
    width: 75%;

}

.departures{
    display: flex;
    justify-content: space-around;
    
   
}

.departures>div{
    width: 100px;
    
    margin: 5px;
    color: black;
    background-color: rgb(225, 231, 238);
}

.input_data{
    background-color: rgb(34, 116, 224);

    padding: 10px;


}


.form_input>input:nth-child(6)
  {
      background-color: white;
      width: 12%;
      height: 75px;
      margin: 0px 10px;
      border-radius: 8px;
      border:none;
      color: blue;

  }