.background-col {
    width: 92rem;
    height: 95rem;
    background-color: rgb(34, 118, 227);
    position: absolute;
    top: -64rem;
    left: -83rem;
    transform: translate(70%);
    z-index: 2;
    border-radius: 50%;
    opacity: 2.0;
  }
  .background-col2 {
    width: 102rem;
    height: 100rem;
    background-color: rgb(109, 164, 234);
    position: absolute;
    top: -69rem;
    left: -90rem;
    transform: translate(64%);
    border-radius: 50%;

  }

  .roundSection{
      display: flex;
      background-color: white;
      width: 23%;
      margin: 0px 130px;
      border-radius: 15px;

      
  }

  .roundSection >div{
      margin: 3px;    
      border-radius: 10px;
  }

  .roundSection >:nth-child(1)
  {
      background-color: #2276e3;
      color: white;
  }
  .roundSection >:nth-child(2):hover
  {
      background-color: rgb(109, 164, 234);
      color: white;
  }
  .roundSection >:nth-child(3):hover
  {
      background-color: rgb(109, 164, 234);
      color: white;
  }

  .form_input{
    
      display:flex ;
      justify-content: center;
      margin: 10px 50px;
      border-radius: 10px;

  }
  .form_input>div{
      background-color: white;
      border-radius: 5px;
      border:none
  }

  .form_input>input{
      width: 15%;
      height: 70px;
      border:none;
      outline: none;
      
  }

  .form_input>input:nth-child(6)
  {
      background-color: orangered !important;
      width: 7%;
      height: 75px;
      margin: 0px 10px;
      border-radius: 8px;
      border:none

  }

  .form_input>input:nth-child(1)
  {
      border-radius: 5px;
      border-top: none;
      border:none
  }

  .parent{

   background-image: url(./backgroundimage.png);
    height: 450px;
   
   
  }


  .travelling_class{
    margin: 0% 1% 1% 60%;
    width: 30%;
    background-color: white;
    border: 1px solid black;

    
  }

